version: 2
jobs:
  build:
    # working_directory: ~/appName
    docker:
      - image: ruby:2.3.3
        environment:
          PG_HOST: localhost
          PG_USER: ubuntu
      - image: circleci/postgres:9.5-ram
        environment:
          POSTGRES_USER: ubuntu
          POSTGRES_DB: circle_test
    steps:
      - checkout
      - run:
          name: Install Ruby Dependencies
          command: bundle install
      - run:
          name: Install Appraisals Dependencies
          command: bundle exec appraisal install
      - run:
          name: Run Appraisals Tests
          environment:
            POSTGRES_DB_DATABASE: circle_test
            POSTGRES_DB_USERNAME: ubuntu
            POSTGRES_DB_PASSWORD:
          command: bundle exec appraisal rspec
